body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.header_div {
    background-color: #7FFF00; /* салатовый */
    padding: 10px;
    text-align: right;
}
.header_a {
    text-decoration: none;
    color: #006400; /* тёмно-зелёный */
    margin-right: 10px;
}
.header_hr {
    border: none;
    border-top: 1px solid #008000; /* зелёный */
    margin-top: 10px;
}